[Desktop Entry]
Type=Application
Exec=bash /home/jetson/m3.sh boot
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=M3Pro boot
Comment=Clock sync + start all services (laser/TF/camera/localization)
